<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Singer</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <a class="col-2 btn btn-success" href="/add">Add New Singer</a>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Image</th>
                <th>Link</th>
                <th>Modify</th>
            </tr>
            <%
            arrSinger.forEach(singer => {
            %>
            <tr>
                <td><%= singer.id %></td>
                <td><%= singer.name %></td>
                <td><img src="<%= domainImg + singer.image %>" class="mx-auto d-block img-fluid"></td>
                <td><a href="<%= domainLink + singer.link %>" target="_blank"> Click to details</a></td>
                <td>
                    <button class="btn btn-warning">Remove</button><br>
                    <button class="btn btn-info">Update</button>
                </td>
            </tr>
            <%
        })
            %>

        </table>
    </div>
</body>

</html>